@import url(https://fonts.google.com/specimen/Alfa+Slab+One?query=JM+Sol%C3%A9&preview.script=Latn);
@import url(https://fontawesome.com/search?q=development);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Onest', sans-serif;
    background: linear-gradient(rgba(10,0,20,0.7), rgba(0,0,0,0.8)),url("gradient.jpg");
    background-position: center;
    color: white;
}

.navbar {
    position: fixed;
    top: 0.10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;     
    height: 115px;     
    padding: 20px 60px; 
    background: #0b0b0f;
    border-radius: 30px;
    border: 2px solid rgba(181, 124, 255, 0.5); 
    box-shadow: 0 0 10px rgba(181, 124, 255, 0.3),0 6px 25px rgba(181, 124, 255, 0.5); 
    z-index: 1000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar a{
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 10px;
}

.logo {
    color: #b57cff;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #b57cff;
}

.home {
    font-family: 'Onest', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    min-height: 100vh;
    background: linear-gradient(rgba(10,0,20,0.7), rgba(0,0,0,0.8)),url("gradient.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    max-width: 600px;
}

.badge {
    display: inline-block;
    background: linear-gradient(90deg, #b57cff);
    padding: 8px 5px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px; 
    transition: 0.3s;   
}

.content {
    margin: 150px;
}

.profile {
    margin-right: 270px;
}

.badge:hover {
    transform: scale(1.05);
}

.Avail {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.content h1 {
    font-size: 65px;
    margin-bottom: 10px;
}

.content h1 span {
    color: #c29fff;
}

.content h3 {
    color: #aaa;
    margin-bottom: 20px;
}

.content p {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: linear-gradient(90deg, #b57cff);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn-secondary {
    border: 1px solid #b57cff;
    padding: 10px 20px;
    border-radius: 20px;
    color: #b57cff;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary:hover,
.btn-secondary:hover {
    transform: scale(1.05);
}

.profile img {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}

/* ABOUT SECTION */
.about {
    padding: 200px 60px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),url("gradient.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-wrapper {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.about-title {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 30px;
    
}

.about-title span {
    color: #b57cff;
}

.about-text {
    font-size: 18px;
    color: #ddd;
    line-height: 1.8;
    margin-bottom: 15px;
}

.edu-title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 28px;
    letter-spacing: 2px;
}

.timeline {
    position: relative;
    margin-top: 40px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #b57cff;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #b57cff;
}

.timeline-item {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}


.timeline-item::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #b57cff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.year {
    width: 20%;
    text-align: center;
    padding-right: 10px;
    margin-left: 100px;
}

.details {
    width: 40%;
    text-align: left;
    padding-left: 40px;
}

.details span {
    color: #b57cff;
    font-weight: 600;
}

.details h3 {
    font-size: 18px;
}

.details p {
    font-size: 14px;
    color: #aaa;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 12px;
    height: 12px;
    background: #b57cff;
    border-radius: 50%;
    transform: translateX(-50%);
}

section {
    position: relative;
}

.year {
   border: 1px solid #b57cff;
   padding: 10px;
   border-radius: 30px;
   size: 14px;
}

.details p span{
    color: #b57cff;
}

html {
  scroll-behavior: smooth;
}

/*skills and experience background*/
.skills,
.experience {
    padding: 200px 60px;
    min-height: 100vh;

    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
        url("gradient.jpg");

    background-size: cover;
    background-position: center;
}

/* SKILLS */
.skills-title {
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.skills-sub {
    text-align: center;
    margin-bottom: 40px;
    color: #ccc;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(181,124,255,0.5);
    backdrop-filter: blur(10px);
}
.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #6c3ec1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill {
    margin-bottom: 15px;
}

.progress {
    width: 100%;
    height: 8px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: 5px 0;
}

.bar {
    height: 100%;
    background: linear-gradient(90deg, #b57cff, #6c3ec1);
    border-radius: 10px;
}

.other-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.percent {
    font-size: 12px;
    color: #ffffff;
    margin-left: 200px;
}

/* EXPERIENCE */
.experience {
    padding: 200px 60px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url("gradient.jpg");
    background-size: cover;
    background-position: center;
}

.exp-title {
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.exp-sub {
    color: #ccc;
    margin-bottom: 80px;
}

.exp-wrapper {
    position: relative;
    max-width: 900px;
    margin: auto;
}

/* vertical timeline line */
.exp-wrapper::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 0;
    width: 2px;
    height: 75%;
    background: #b57cff;
    box-shadow: 0 0 10px #b57cff;
    margin-top: 2px;
}

.exp-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 70px;
    position: relative;
}

/* year circle */
.exp-year {
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #b57cff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b0b0f;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

/* connector line */


/* content */
.exp-content {
    flex: 1;
}

/* card */
.exp-card {
    background: rgba(255,255,255,0.05);
    padding: 25px 30px;
    border-radius: 15px;
    border: 1px solid rgba(181,124,255,0.4);
    backdrop-filter: blur(10px);
    text-align: left;
    transition: 0.3s;
}

.exp-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(181,124,255,0.4);
}

.exp-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.exp-card i {
    margin-right: 10px;
}

.exp-card .sub {
    color: #b57cff;
    font-size: 14px;
}

.exp-card ul {
    margin-top: 12px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.8;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .exp-wrapper::before {
        left: 20px;
    }

    .exp-item {
        flex-direction: column;
        gap: 10px;
    }

    .exp-item::after {
        left: 35px;
        top: 55px;
        width: 20px;
    }

    .exp-year {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }

    .exp-content {
        margin-left: 20px;
    }
}

/* CONTACTS */

.contacts {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),url("gradient.jpg");
    background-size: cover;
    padding: 200px 60px;
    min-height: 100vh;
}

.contact-title {
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.contact-sub {
    text-align: center;
    color: #aaa;
    font-size: 14px;
    margin-bottom: 40px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 860px;
    margin: 0 auto 40px;
}

.contact-form-box {
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(181,124,255,0.35);
    border-radius: 14px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.contact-form-box h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 18px;
}

.contact-form-box label {
    font-size: 12px;
    color: #ccc;
    margin-bottom: 5px;
    display: block;
}

.contact-form-box input,
.contact-form-box textarea {
    width: 100%;
    background: rgb(0, 0, 0);
    border: 1px solid rgba(169, 104, 238, 1);
    border-radius: 8px;
    padding: 9px 12px;
    color: white;
    font-size: 13px;
    font-family: 'Onest', sans-serif;
    margin-bottom: 14px;
    outline: none;
    transition: border 0.2s;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
    border-color: #b57cff;
}

.contact-form-box textarea {
    height: 85px;
    resize: vertical;
}

.contact-send-btn {
    width: 100%;
    background: linear-gradient(90deg, #b57cff);
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Onest', sans-serif;
    transition: 0.3s;
    margin-top: auto;
}

.contact-send-btn:hover {
    transform: scale(1.03);
}

.contact-right {
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-blurb {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(181,124,255,0.35);
    border-radius: 14px;
    padding: 20px;
    font-size: 13px;
    color: #ccc;
    line-height: 1.7;
    flex: 1;
}

.contact-blurb-list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contact-blurb-list span {
    font-size: 13px;
    color: #ddd;
}

.contact-blurb-list span::before {
    content: "•";
    color: #b57cff;
    margin-right: 6px;
}

.contact-socials {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(181,124,255,0.35);
    border-radius: 14px;
    padding: 18px 20px;
}

.contact-socials h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    width: 34px;
    height: 34px;
    border-radius: 8px;
    background: rgba(181,124,255,0.12);
    border: 1px solid rgba(181,124,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b57cff;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
}

.social-icons a:hover {
    background: rgba(181,124,255,0.3);
}

.contact-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid rgba(181,124,255,0.2);
}

.contact-footer-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #b57cff;
    text-decoration: none;
    transition: 0.2s;
}

.contact-footer-item:hover {
    color: white;
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }
    .contact-footer {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }
}
